<table id="{{ listing.name }}" class="display" style="width:100%">
    <thead>
        <tr>
            {% for column in listing.columns %}
                <th>{{ column.label|trans }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    {% if listing.columns is not empty %}
        $(document).ready(function() {
            $('#{{ listing.name }}').DataTable( {
                "processing": true,
                "serverSide": true,
                "paging": true,
                {% if listing.mainSearchField is null and listing.pathName is null %}"searching": false,{% endif %}
                "ajax": {
                    "url": "{{ path('igornast_datatables_get_data') }}",
                    "type": "POST",
                    "data": {
                        {% if listing.encryptedEntity is not null %}"entity": "{{ listing.encryptedEntity }}"{% endif %}
                        {% if listing.mainSearchField is not null %},"main_search_field": "{{ listing.mainSearchField }}"{% endif %}
                    },
                },
                "columns": [
                    {% for key, col in listing.columns %}
                        { "data": "{{ key }}" },
                    {% endfor %}
                ]
            });
        } );
    {% endif %}
</script>